*,
*:before,
:after {
  /* box-sizing: border-box; */
  font-family: 'Roboto', sans-serif;
}

/* ~~~~~~~~~~~~~~ HOME PAGE IMAGE ~~~~~~~~~~~~~~~~ */
body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* ~~~~~~~~~~~~~~ PAGE HEADER ~~~~~~~~~~~~~~~~ */
.page-header {
  background: #0fb9b1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  position: relative;
}

.page-header-title {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 0px;
  left: -5px;
}

.add-recipe-button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 10px;
  padding: 4px 8px;
  /* position: relative; */
  border: none;
  border-radius: 5px;
}

.controls>button:hover {
  background: #e07999;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* ~~~~~~~~~~~~~~ RADIO BUTTON BOX ~~~~~~~~~~~~~~~~ */
/* .wrapper {
  display: flex;
  /* background-color: #05A6F6; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* margin-top: 3%; */
  /* margin: 10px; */
  /* padding: 0; */
  /* color: black; */
  /* text-align: center; */ 
/* } */

.wrapper {
    display: flex;
    /* background-color: #05A6F6; */
    align-items: flex-start;
    justify-content: space-evenly;
    color: black;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

/* .what-title {
  background-color: #DDDDDD;
  font-size: 28px;
  font-weight: bold;
  line-height: 150%;
  opacity: 0.90;
  padding-top: 0%;
  margin-bottom: 0%;
  margin-top: 15%;
} */




.hidden {
  display: none;
}

/* .radio-buttons-box {
  background-color: #DDDDDD;
  font-size: 22px;
  color: black;
  height: 50%;
  width: 35%;
  padding-left: 3%;
  margin-top: 0;
  float: left;
  opacity: 0.90;
  display: block;
  line-height: 225%;
  display: table-cell;
  padding-top: 0%;
  padding-bottom: 5%;
} */

.radio-buttons-box {
    background-color: #DDDDDD;
    font-size: 22px;
    color: black;
    height: 350px;
    width: 35%;
    opacity: 0.90;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
  }

.what-title {
    background-color: #DDDDDD;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.90;
    margin: 0;
}

.radio-buttons {
    margin: 10px 0;
};

sup {
  color: #ee5253;
  font-weight: bolder;
};

.lets-cook-button {
  background-color: #0fb9b1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: bolder;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 35%;
  border: none;
  border-radius: 5px;
  /* display: none; */
}


/* ~~~~~~~~~~~~~~ MEAL BOX ~~~~~~~~~~~~~~~~ */

/* .recommend-meal-box {
  background-color: #DDDDDD;
  font-size: 24px;
  color: black;
  height: 57%;
  width: 35%;
  max-height: 58%;
  max-width: 35%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  opacity: 0.90;
  display: block;
  line-height: 225%;
  padding-left: 0;
  padding-bottom: 6.3%;
  /* display: none; */
/* } */

.recommend-meal-box {
    background-color: #DDDDDD;
    font-size: 24px;
    color: black;
    height: 350px;
    width: 35%;
    opacity: 0.90;
    display: none;
    flex-direction: column;
    align-items: center;
  }

.cookpot-box {
  display: flex;
  /* border: 2px solid red; */
  background-color: #DDDDDD;
  opacity: 0.90;
  height: 350px;
  width: 35%;
  justify-content: center;
  align-items: center;
}

.cookpot-image {
    height: 50px;
    width: 50px;
  }

.should-make-title-text {
  background-color: #DDDDDD;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  line-height: 150%;
  opacity: 0.90;
  padding-top: 25%;
  margin-bottom: -1%;
  text-align: center;
}

.recommended-meal-text {
  background-color: #DDDDDD;
  font-size: 40px;
  font-weight: bold;
  line-height: 150%;
  opacity: .90;
  padding-top: 0%;
  margin-top: -1%;
  margin-bottom: 3%;
  text-align: center;
}

.clear-recommend-button {
  background-color: #95a5a6;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: rgba(225, 225, 225, .9);
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15%;
  margin-left: 65%;
  width: 20%;
  border: none;
  border-radius: 5px;
  bottom: 0px;
  opacity: .99;
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9); #CBCBCB
grey - #95a5a6;
red - #ee5253
