/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
*,
*:before,
:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* ~~~~~~~~~~~~~~ HOME PAGE IMAGE ~~~~~~~~~~~~~~~~ */
body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

.what-title {
  background-color: rgba(225, 225, 225, .9);
  font-size: 32px;
  font-weight: bold;
  line-height: 150%;
  opacity: 0.95;
  padding-top: 0%;
  margin-bottom: 3%;
}

sup {
  color: #ee5253;
}

.radio-buttons-box {
  background-color: rgba(225, 225, 225, .9);
  font-size: 22px;
  color: black;
  height: 50%;
  width: 35%;
  padding-left: 3%;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 12%;
  float: left;
  opacity: 0.95;
  display: block;
  line-height: 225%;
  display: table-cell;
}

/* .submit-button {
  background-color: #0fb9b1;;
} */

.lets-cook-button {
  background-color: #0fb9b1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 0;
  margin-top: 5px;
  width: 50%;
  border: none;
  border-radius: 5px;
}

.img-overlay-box {
  background-color: rgba(225, 225, 225, .9);
  font-size: 24px;
  color: black;
  height: 50%;
  width: 35%;
  margin-top: 50px;
  margin-left: 0%;
  margin-right: 3%;
  float: left;
  opacity: .95;
  object-fit: scale-down;
  padding-left: 0;
  /* display: none */
}

.img-overlay-box2 {
  background-color: rgba(225, 225, 225, .9);
  font-size: 24px;
  color: black;
  height: 50%;
  width: 35%;
  margin-top: 50px;
  margin-left: 0%;
  margin-right: 3%;
  float: left;
  opacity: .95;
  object-fit: scale-down;
  padding-left: 0;
  display: none
}

/* ~~~~~~~~~~~~~~ PAGE HEADER ~~~~~~~~~~~~~~~~ */
.page-header {
  background: #0fb9b1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;

  position: relative;
}

.page-header-title {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 0px;
  left: -5px;
}

.add-recipe-button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 10px;
  padding: 4px 8px;
  /* position: relative; */
  border: none;
  border-radius: 5px;
}

.controls > button:hover {
  background: #e07999;
  font-family: 'Roboto', sans-serif;
  color: white;
}


/* body,
.friends-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0;
} */
