*,
/* *:before, */
:after {
}

/* ~~~~~~~~~~~~~~ HOME PAGE IMAGE ~~~~~~~~~~~~~~~~ */
body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;  
  height: 100%;
  width: 100%;
  margin: 0;
}

/* ~~~~~~~~~~~~~~ PAGE HEADER ~~~~~~~~~~~~~~~~ */
.page-header {
  background: #0fb9b1;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.page-header-title {
  font-size: 24px;
  margin: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 0px;
  left: -5px;
}

.add-recipe-button {
  font-size: 16px;
  margin: 10px;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
}

/* ~~~~~~~~~~~~~~ RADIO BUTTON BOX ~~~~~~~~~~~~~~~~ */
.wrapper {
    display: flex;
    /* background-color: #05A6F6; */
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.radio-buttons-box {
    background-color: #DDDDDD;
    font-size: 22px;
    color: black;
    height: 425px;
    width: 35%;
    opacity: 0.90;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-left: 50px;
  }

.what-title {
    background-color: #DDDDDD;
    font-size: 28px;
    font-weight: bold;
    margin-top: 75px;
    margin-bottom: 16px;
    opacity: 0.90;
}

sup {
  color: #ee5556;
  font-weight: boulder;
};

.radio-buttons {
  line-height: 200%;
}

label {
  line-height: 200%;
  padding-bottom: 50px;
}

.lets-cook-button {
  background-color: #0fb9b1;
  display: flex;
  font-size: 16px;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  width: 45%;
  border: none;
  border-radius: 5px;
}

/* ~~~~~~~~~~~~~~ MEAL BOX ~~~~~~~~~~~~~~~~ */

.cookpot-box {
  display: flex;
  background-color: #DDDDDD;
  opacity: 0.90;
  height: 425px;
  width: 35%;
  justify-content: center;
  align-items: center;
}

.recommend-meal-box {
  background-color: #DDDDDD;
  font-size: 24px;
  color: black;
  height: 425px;
  width: 35%;
  opacity: 0.90;
  display: none;
  flex-direction: column;
  align-items: center;
}

.cookpot-image {
    height: 150px;
    width: 150px;
  }

.should-make-title-text {
  background-color: #DDDDDD;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  opacity: 0.90;
  padding-top: 25%;
}

.recommended-meal-text {
  background-color: #DDDDDD;
  font-size: 40px;
  font-weight: bold;
  line-height: 150%;
  opacity: .90;
  padding-top: 0%;
  margin-top: -1%;
  margin-bottom: 3%;
  text-align: center;
  height: 40px;
}

.clear-recommend-button {
  background-color: #95a5a6;
  font-size: 18px;
  font-weight: bolder;
  color: rgba(225, 225, 225, .9);
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 25%;
  font-family: 'Roboto', sans-serif;  
  margin-left: 65%;
  width: 20%;
  border: none;
  border-radius: 5px;
  bottom: 0px;
  opacity: .99;
  display: flex;
  justify-content: center;
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9); #CBCBCB
grey - #95a5a6;
red - #ee5253
